*{
    margin: 0px;
    padding: 0px;
}

#game-container{
    width: 500px;
    /* margin: 0px auto; */
    background-color: red;
    height: 600px;
    background-image: url("../images/road.png");
    background-size: 500px;
}

#scoreboard{
    width: 500px;
    background-color: gray;
    height: 40px;
}

#scoreboard h2{
    width: 500px;
    padding: 0px auto;
    text-align: center;
}

#scoreboard h3{
    width: 500px;
    padding: 0px auto;
    text-align: center;
    font-size: 10px;
}

#startgame{
    width: 200px;
    height: 100px;
    padding: 30px;
    text-align: center;
    left: 120px;
    top: 200px;
    background-color: gray;
    position: absolute;
}