*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel_main{
    /* width: 50%; */
}

body{
    /* margin-left: 10%; */
}

.container{
    overflow: hidden;
    /* width: 90%; */
    background-color: yellow;
    float:left;
    margin-left: 50px;
}

.wrapper{
    position: relative;
    background-color: gray;
    left: 0px;
}

.carousel_img{
    /* width: 100%; */
}

.wrapper img{
    left: 0px;
    position: relative;
    float:left;
}

.activeStar{
    text-transform: uppercase;
}

